<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671125817381-cgdqg31bb9kkrc8a55in0cqk4mfbivc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671125817381-cgdqg31bb9kkrc8a55in0cqk4mfbivc5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>671125817381-805pqoajb3igucbiu63hqjao2mo0fbug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADr0TFTVNCSeu1h2bJwZRINETRjYyH4jw</string>
	<key>GCM_SENDER_ID</key>
	<string>671125817381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.appcom</string>
	<key>PROJECT_ID</key>
	<string>nice-customer-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nice-customer-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671125817381:ios:20131e09410ef05ed417cc</string>
	<key>DATABASE_URL</key>
	<string>https://nice-customer-app.firebaseio.com</string>
</dict>
</plist>